@use "../../variables" as *;

.navbar_container{
    height: 80px;
    width: 100%;
    background-color: $button-color;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding: 0 50px;
    img{
        width: 12%;
        height: auto;
    }
    .navbar_title{
        
        Button{
            color:white;
            font-size: 22px;
            text-transform: capitalize;
        }
    }
}